h1{
    padding: 40px;
    margin:100px 200px;
    font-size: 60px;
    width: 60%;
    background-color:rgba(247, 240, 237, 0.9)

;
}
p{
    padding: 40px;
    margin:100px 200px;
    font-size: 35px;
    width: 60%;
    background-color:rgba(247, 240, 237, 0.9)
}
body{;
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-size: cover;
}