*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #3c9c98;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    height:600px;
    width: 800px;
    background-color: white;
    border-radius: 5%;
}
h2 {
margin-top: 30px;
    font-size: 50px;
    text-align: center;
    width:800px;
    height: 100px;
}
input[type="text"], input[type="password"]{
    display:block;
    height: 60px;
    width: 550px;
    font-size: 20px;
    border: 1px solid  gray;
    margin: 20px 0 20px 125px;
}
.checkbox{
    margin-left: 125px;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
}
input[type="submit"]{
    border-radius: 10px;
    margin-left: 300px;
    width: 100px;
    height: 30px;
    border: 1px solid  gray;
    cursor: pointer;
}