@media screen and (max-width: 480px){
body{
    font-size: 0.5em;
}
    header{
    height: 20vh;}

 .main{
     height: 80vh;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
 }
.b{
    width: 100%;
    height: 50vh;
}
.c{
    width: 100%;
    height: 30vh;
}
}


