@media screen and (min-width: 480px) and (max-width: 1280px) {
    .article {
        transform: rotate(-90deg);
        width: 50vh;
        display: flex;
        justify-content: center;
    }
    .article div{
        width: 100%;
    }
    .article2{
        margin-top: 10px;
    }
}


