*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "header header header header header"
    "one two three four five"
    "footer footer footer footer footer";
}

header {
    grid-area: header;
    background: #D9D9D9;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
.one{
    grid-area: one;
    background: #A4A4A4;
}
.two{
    grid-area: two;
    background: #CAC7C7;
}
.three{
    grid-area: three;
    background: #A4A4A4;
}
.four{
    grid-area: four;
    background: #CAC7C7;
}
.five{
    grid-area: five;
    background: #A4A4A4;
}