@media screen and (max-width: 480px){
    .main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
    "header header"
        "two one"
        "three four"
        "five five"
        "footer footer"



    ;
    }
}